@charset "ISO-8859-1";

@charset "ISO-8859-1";

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #e7f0fe;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
h3{
  color:#f1f464;
  border: 2px solid blue;
  border-radius: 7px;
  padding: 25px;
  background-color:black;
  font-family:Georgia;
  text-shadow: 2px 2px 2px white;
  
  }